{% extends "layout_master.html" %}

{% block pageTitle %}
  Handover notes &ndash; {{ serviceName }}
{% endblock %}

{% set items = [
  {
    title: 'Start',
    screenshot: 'start',
    why:
    '
    It provides the main route through to the service and reassures the user that they are about to apply for the right thing.
    ',
    future:
    '
    We have requested the public beta start page from GDS and have shared with them the research that led us to this design. For private beta we may have to add a warning that the service is private (in case people find the link online) but we will wait until evidence shows that this is needed.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Name',
    screenshot: 'Name',
    why:
    '
    To match up their application to existing records in CIS and JSAPS. The name is broken into forename and surname because it needs to match the equivalent JSAPS fields.
    ',
    future:
    '
    To consider whether asking for first name and last name separately is understood by users and whether it limits anyone with multiple surnames or a name that is presented differently. At the moment we accept all characters here but JSAPS does not - this might affect future correspondence.
    '
  },
  {
    title: 'Date of birth',
    screenshot: 'Date-of-birth',
    why:
    '
    To check if users are under State Pension age and over 16 years old.
    ',
    future:
    '
To check the accessibility of the date input. Some services have reported issues with things like Voiceover and Jaws. It‘s not tabbing as people expect. This should come out in the accessibility testing.
    '
  },
  {
    title: 'National Insurance number',
    screenshot: 'NINO',
    why:
    '
    To check the user’s National insurance record and determine if they have paid enough to be eligible for the benefit.
    ',
    future:
    '
    To monitor how long people spend on this page and how many make mistakes users make. It might tell us whether they did not have their National Insurance number ready.
    '
  },
  {
    title: 'Address',
    screenshot: 'Address',
    why:
    '
    To find out where we should send their correspondence, to check their details against CIS, and to work out if they are resident in the UK.
    ',
    future:
    '
    To check that users understand what we will use their address for and that it does not affect other services.
    '
  },
  {
    title: 'Mobile number',
    screenshot: 'Mobile-number',
    why:
    '
    So we can send text message alerts to claimants or call them if there are any processing queries.
    ',
    future:
    '
    To explore how many have mobile numbers, and whether users understand why we ask for it.
    '
  },
  {
    title: 'Another contact number',
    screenshot: 'Another-number',
    why:
    '
    To offer an alternative to mobile numbers for those who do not have them or do not want to use them. Users will only see this if they select no on the previous screen.
    ',
    future:
    '
    To monitor how many people get to this page and use this research to inform how we ask about contact preferences later in private beta. A mobile number is preferred by Operations and Policy so we can send text message alerts.
    '
  },
  {
    title: 'Health conditions',
    screenshot: 'Health-condition-1',
    why:
    '
    To find out what is limiting their ability to work, and build up context for the processors and decision makers.
    ',
    future:
    '
    To test if people know which conditions are relevant and that they can add more than one. In particular we want to look at what they put in the ‘condition start date’ field as previous research has shown that this is hard to answer and a precise date is difficult (DD MM YYYY is a JSAPS requirement). We also need to improve the accessibility of the ‘add another’ pattern, which isn’t clear when you’re using a screen reader.
    '
  },
  {
    title: 'Doctor’s surgery',
    screenshot: 'Doctors-surgery',
    why:'So we can contact their doctor for more information about their health, if they give consent to it later.',
    future:'To check if users understand why we ask for these details. And to check if people know their doctor’s name. We also need to explore whether people struggle at all with the address. Some services have tried a GP look up.'
  },
  {
    title: 'Terminal illness',
    screenshot: 'Terminal-illness',
    why:
    '
   Claimants who have less than 6 months to live qualify for ‘special rules’. This means they go straight into the support group and their claim is prioritised.
    ',
    future:
    '
    To continue to test reactions to the question. Our decision to opt for less ambiguous wording (setting out what the special rules are, not referencing ‘terminal illness’ as that might be longer than 6 months) has tested quite well so far and been taken up by UC. We might want to explore whether ‘could live less’ is better than ‘expects you to live less’; UC have found some users prefer wording that is less definite.
    '
  },
  {
    title: 'DS1500 form',
    screenshot: 'DS1500',
    why:
    '
   To prompt users who are eligible for a special rules claim that they need to have this form. Doctors send DS1500s to us to confirm that a claimant has a severe life-limiting condition.
    ',
    future:
    '
    To explore reactions to this question and monitor whether their DS1500 arrives. There are some existing issues with doctors not returning DS1500s. Some work done by the Work and Pensions Select Committee found that doctors were reluctant to define someone’s life expectancy and did not understand the impact of not sending the DS1500.
    '
  },
  {
    title: 'Staying in hospital',
    screenshot: 'Hospital',
    why:
    '
    To find out whether they may not be able to attend their appointment and to identify the doctors who may be able to provide more information about their condition. Claimants are also treated as having limited capability for work on days they are in hospital, but are only entitled a certain number of months before they are moved to the lower rate. This is why we ask for the admission date.
    ',
    future:
    '
    To test whether people understand ’inpatient’ or if they give details of repeat day visits for treatment. As with all dates, we need to test whether they can identify the correct date and also whether the date input is fully accessible.
    '
  },
  {
    title: 'Pregnant',
    screenshot: 'Pregnant',
    why:
    '
   Pregnancy may affect the severity of a condition (for example, high blood pressure). It might also mean they will be eligible for Statutory Maternity Pay in a few months time, which they cannot get alongside ESA.
    ',
    future:
    '
    To see if we can hide this question if it is appropriate or would cause distress. For example, anyone who has indicated that they have had a miscarriage or still birth, or if they have listed conditions that indicate they are certainly male. We want to avoid asking people to identify their sex if we can. As with all dates, we also need to check they know what to put and whether the date input is accessible.
    '
  },
  {
    title: 'Doctor’s consent',
    screenshot: 'Doctors-consent',
    why:
    '
    Doctors cannot share medical information with us without their patients consent. This question collects their consent on their doctor’s behalf.
    ',
    future:
    '
     This has taken a lot of work and involved a lot of internal and external stakeholders. Because of the sign off required, it went into the service just before private beta began so we have not had time to test the content properly. There is a lot more content than we would usually provide, and some phrasing could be clearer.  In particular we need to check they understand who they are giving consent to (since it isn‘t us), what will happen if they say yes, what will happen if they say no, how they can change their response, and why we ask for it. We have agreed with colleagues in Strategy, Legal and Data Protection that we will test comprehension fully during private beta and if necessary try out new designs. But we need to keep them informed of any research findings, and share any designs we are testing.
    '
  },
  {
    title: 'Voluntary work',
    screenshot: 'Voluntary-work',
    why:
    '
  To understand the types of work they can do. We may also need to check whether they should be being paid for the work.
    ',
    future:
    '
    To explore whether users understand what voluntary work includes and whether we need to be more specific. It is still not clear whether only registered charities or organisations count. We need to verify with stakeholders.
    '
  },
  {
    title: 'Voluntary work details',
    screenshot: 'Voluntary-work-details',
    why:
    '
   To find out who they are working for and how we can contact them. Information they give here also populates later questions to give context.
    ',
    future:
    '
    To test whether users understand that they can add more than one role from the hint text and to check that they know all this information.
    '
  },
  {
    title: 'Type of voluntary work',
    screenshot: 'What-voluntary-work',
    why:
    '
   To see what type of work they are doing and whether it should be paid.
    ',
    future:
    '
    This is a free text field so we need to check what people put in this field and how processors interpret it. If only particular activities matter, we could ask them to pick them from a list of options instead.
    '
  },
  {
    title: 'Voluntary hours',
    screenshot: 'Voluntary-hours',
    why:
    '
   There is no strict limit to the number of hours they can volunteer, but if they work a lot of hours a week a decision maker might look into it to decide if should be voluntary work.
    ',
    future:
    '
    To see whether most users select ‘no’, and look into whether we need to capture the last 5 weeks of hours if they do.
    '
  },
  {
    title: 'Other voluntary work',
    screenshot: 'Other-voluntary-work',
    why:
    '
   First looping question. Plays back what the user has entred and asks if they want to go back and add another.
    ',
    future:
    '
 We have an alternative design for the ‘add another’ pattern to make it more accessible and easier to manage. We still need to test it.
    '
  },
  {
    title: 'Work',
    screenshot: 'Work',
    why:
    '
   To understand whether they are still employed or self employed, even if they are off work. This tells us they might be getting Statutory Sick Pay, or might be working or being paid more than they are allowed.
    ',
    future:
    '
    To test the comprehension of the question, particularly for self employed users.
    '
  },
  {
    title: 'Employment details',
    screenshot: 'Employment-details',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Off sick',
    screenshot: 'Off-sick',
    why:
    '
   People who are off sick do not need to answer all the questions about hours and pay - we just need to know that they are still employed or self employed - so this branches those users away from the following work questions.
    ',
    future:
    '
    To test whether ‘off sick’ is clear to non-native speakers.
    '
  },
  {
    title: 'Date you last worked',
    screenshot: 'Last-work',
    why:
    '
    Only users who are off sick see this question. This tells us how long they have been ill, and whether they should still be receiving Statutory Sick Pay.
    ',
    future:
    '
    To explore whether users know the exact date. As with all other date inputs, we need to check whether there are any accessibility issues.
    '
  },
  {
    title: 'Employment status',
    screenshot: 'Employment-status',
    why:
    '
   This prompts processors or decision makers to look into whether they should be paid or be paying themselves Statutory Sick Pay.
    ',
    future:
    '
    To test whether people can identify their own employment status, particularly if they do contract, zero hours, or freelance work.
    '
  },
  {
    title: 'Work hours',
    screenshot: 'Hours-work',
    why:
    '
   To work out if their work is allowed. If they work less than 16 hours a week then they are still entitled to claim.
    ',
    future:
    '
    To look at how many users say no. It has currently been designed so that people who work irregular hours don‘t have to guess a figure or give an average. We agreed this would be picked up by processors. As private beta continues, we might need to look at asking them for the hours they have worked over the last 5 weeks.
    '
  },
  {
    title: 'Earnings - for people who work regular hours',
    screenshot: 'Earnings-regular',
    why:
    '
   To find out if they earn more than the earnings limit.
    ',
    future:
    '
    To check whether we need all the frequency options or whether we can reduce the list a little.
    '
  },
  {
    title: 'Earnings - for people who do not work regular hours',
    screenshot: 'Earnings-irregular-hours',
    why:
    '
   To ask anyone who does not have regular hours, what they earned in their last pay so we can check if it was over the earnings limit. There will also need to be a conversation with a processor or a decision maker.
    ',
    future:
    '
    To check whether this is the best way to find out whether they earn less than the limit. We might have to look at how much they got paid each week over the last 5 weeks.
    '
  },
  {
    title: 'Professional support worker',
    screenshot: 'Professional-support-worker',
    why:
    '
   Claimants can work more than 16 hours a week if they have support from a professional support worker.
    ',
    future:
    '
    At the moment everyone sees this question. We might want to test branching users who have indicated they work more than 16 hours.
    '
  },
  {
    title: 'Expenses',
    screenshot: 'Expenses',
    why:
    '
  Some of their expenses may be classed as earnings.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Expenses details',
    screenshot: 'What-are-expenses-for',
    why:
    '
   To help decision makers and processors to work out if the expenses count as earnings.
    ',
    future:
    '
    To find out if only certain expenses count. If so, we can try presenting them to the user in a list and asking them to select the ones they get.
    '
  },
  {
    title: 'Other paid work',
    screenshot: 'Other-paid-work',
    why:
    '
   Second looping question. Plays back the employment they have just added and brings the user back to the start of the paid work section if they have more than one job.
    ',
    future:
    '
     We have an alternative design for the ‘add another’ pattern to make it more accessible and easier to manage. We still need to test it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  },
  {
    title: 'Before you start',
    screenshot: 'before-you-start',
    why:
    '
   At the moment there is no ‘save and return’ functionality. This means that users need to get certain documents ready before they start as they will not be able to leave their application.
    ',
    future:
    '
    To test whether users get everything ready before they begin. Would be good to see how many users exited on this page and how long people stayed on it.
    '
  }

  ]

  %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="dev-index" rel="prev" class="govuk-back-link">Reference screens for JIRA stories</a>
</div>

<main class="govuk-main-wrapper">

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Handover notes</h1>
      </div>{# /govuk-grid-column #}
    </div>{# /govuk-grid-row #}

    {% for item in items %}
    <div class="govuk-grid-row screenshot-notes">
      <div class="govuk-grid-column-one-third">
        <img src="/public/images/handover-screenshots/{{ item.screenshot }}.png" alt="{{ item.title }} screenshot" style="width: 100%;">
      </div>{# /govuk-grid-column #}
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">{{ item.title }}</h2>
        <h2 class="govuk-heading-s">Why it’s there</h2>
        <p>{{ item.why }}</p>
        <h2 class="govuk-heading-s">Future plans</h2>
        <p>{{ item.future }}</p>
      </div>{# /govuk-grid-column #}
    </div>{# /govuk-grid-row #}
    {% endfor %}

  </div>{# /govuk-width-container #}

</main>

{% endblock %}