{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="declaration">

        <main class="govuk-main-wrapper " id="main-content" role="main">
          <h1 class="govuk-heading-xl">
          Check your answers before sending your application
        </h1>

        <!-- only add a heading for a list if there is more than one list -->
        <h2 class="govuk-heading-m">
          Your health conditions
        </h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Conditions
            </dt>
            <dd class="app-check-your-answers__answer">
              Abdominal pain<br>
              Started June 2013<br>
              <br>
              Broken leg<br>
              Started 20 November 2018
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> conditions</span>
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Doctor's details
            </dt>
            <dd class="app-check-your-answers__answer">
              Dr Sarah Philips<br>
              72 Guild street<br>
              London<br>
              SF23 6FH<br>
              020 7946 0809<br>
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Life expectancy
            </dt>
            <dd class="app-check-your-answers__answer">
              Could be less than 6 months
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> life expectancy</span>
              </a>
            </dd>
          </div>
         <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Doctor has sent DS1500 form
            </dt>
            <dd class="app-check-your-answers__answer">
              No
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Currently in hospital
             </dt>
             <dd class="app-check-your-answers__answer">
               Yes
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Hospital details
              </dt>
              <dd class="app-check-your-answers__answer">
                Ear, nose and throat ward<br>
                Hallamshire Hospital<br>
                Glossop Road<br>
                Sheffield<br>
                S10 2JF<br>
                <br>
                Admitted on 19 December 2018<br>
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Stays in hospital over last 12 months
              </dt>
              <dd class="app-check-your-answers__answer">
                Hallamshire Hospital<br>
                Glossop Road<br>
                Sheffield<br>
                S10 4JF<br>
                <br>
                Admitted on 14 January 2018<br>
                Left on 18 January 2018<br>
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">
          Voluntary work
        </h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Doing voluntary work
            </dt>
            <dd class="app-check-your-answers__answer">
              Yes
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> conditions</span>
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Voluntary work details
            </dt>
            <dd class="app-check-your-answers__answer">
              Oxfam<br>
              72 Guild street<br>
              London<br>
              SF23 6FH<br>
              020 7946 0809<br>
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Type of voluntary work
            </dt>
            <dd class="app-check-your-answers__answer">
              Spend some time helping on the tills and washing clothes before they go on sale.
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> life expectancy</span>
              </a>
            </dd>
          </div>
         <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Hours you volunteer each week
            </dt>
            <dd class="app-check-your-answers__answer">
              1
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Expenses paid for this voluntary work
             </dt>
             <dd class="app-check-your-answers__answer">
               None
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
         </dl>

         <h2 class="govuk-heading-m">
           Paid work
         </h2>

         <dl class="app-check-your-answers app-check-your-answers--short">
           <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Currently employed
              </dt>
              <dd class="app-check-your-answers__answer">
                Yes
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Employment details
              </dt>
              <dd class="app-check-your-answers__answer">
                Sales assistant<br>
                Boots<br>
                020 7946 0076<br>
                72 Guild Street<br>
                London<br>
                S10 4JF<br>
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Off sick from this work
              </dt>
              <dd class="app-check-your-answers__answer">
                No
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Employment status
              </dt>
              <dd class="app-check-your-answers__answer">
                Employee
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Hours worked a week
              </dt>
              <dd class="app-check-your-answers__answer">
                7
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Pay
              </dt>
              <dd class="app-check-your-answers__answer">
                £124 weekly
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Help from a professional support worker
              </dt>
              <dd class="app-check-your-answers__answer">
                No
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Expenses
              </dt>
              <dd class="app-check-your-answers__answer">
                Travel and subsistence
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Other employment details
              </dt>
              <dd class="app-check-your-answers__answer">
                Operational coordinator<br>
                Co-op<br>
                020 7946 0076<br>
                72 Guild Street<br>
                London<br>
                S10 4JF<br>
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Off sick from this work
              </dt>
              <dd class="app-check-your-answers__answer">
                Yes
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Last day at work
              </dt>
              <dd class="app-check-your-answers__answer">
                17 December 2018
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Employment status
              </dt>
              <dd class="app-check-your-answers__answer">
                Employee
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                  Change
                </a>
              </dd>
            </div>

        </dl>

        <h2 class="govuk-heading-m">
          Statutory pay
        </h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Getting Statutory Sick Pay
             </dt>
             <dd class="app-check-your-answers__answer">
               Yes

             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Sick Pay ends
             </dt>
             <dd class="app-check-your-answers__answer">
               18 January 2019
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Other statutory payments
             </dt>
             <dd class="app-check-your-answers__answer">
               Statutory Maternity Pay
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               When you will be fit for work
             </dt>
             <dd class="app-check-your-answers__answer">
               18 March 2019
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
       </dl>
       <h2 class="govuk-heading-m">
          Pensions and permanent health insurance
        </h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Getting money from a pension or annuity
             </dt>
             <dd class="app-check-your-answers__answer">
               Yes
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Pension or annuity details
             </dt>
             <dd class="app-check-your-answers__answer">
               Prudential<br>
               Reference number 245-485-198<br>
               020 7946 0076<br>
               72 Guild street<br>
               London<br>
               SE23 6FH<br>
               <br>
               Started 15 July 2018
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Payments from pension or annuity
             </dt>
             <dd class="app-check-your-answers__answer">
               £75 a week
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Deductions from pension or annuity
             </dt>
             <dd class="app-check-your-answers__answer">
               £15.30 Income Tax
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Inherited pension or annuity
             </dt>
             <dd class="app-check-your-answers__answer">
               No
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Getting money from permanent health insurance
             </dt>
             <dd class="app-check-your-answers__answer">
               Yes
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Who pays for it
             </dt>
             <dd class="app-check-your-answers__answer">
               Me and my employer
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Permanent health insurance details
             </dt>
             <dd class="app-check-your-answers__answer">
               Prudential<br>
               Reference number 245-485-198<br>
               020 7946 0076<br>
               72 Guild street<br>
               London<br>
               SE23 6FH<br>
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Premiums paid in
             </dt>
             <dd class="app-check-your-answers__answer">
               I pay less than half the premiums myself
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
           <div class="app-check-your-answers__contents">
             <dt class="app-check-your-answers__question">
               Payments received from health insurance
             </dt>
             <dd class="app-check-your-answers__answer">
               £65 a week
             </dd>
             <dd class="app-check-your-answers__change">
               <a href="#">
                 Change
               </a>
             </dd>
           </div>
       </dl>

       <h2 class="govuk-heading-m">
         Consent to request more information
       </h2>

       <dl class="app-check-your-answers app-check-your-answers--short">
         <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Consent
            </dt>
            <dd class="app-check-your-answers__answer">
              Yes, the DWP can contact the people and organisations in this application about me
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
        </dl>

          <h2 class="govuk-heading-m">
          Personal details
        </h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              First name
            </dt>
            <dd class="app-check-your-answers__answer">
              Sarah
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> first name</span>
              </a>
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
              Last name
            </dt>
            <dd class="app-check-your-answers__answer">
              Philips
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> last name</span>
              </a>
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Date of birth
            </dt>
            <dd class="app-check-your-answers__answer">
              5 January 1978
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              National Insurance number
            </dt>
            <dd class="app-check-your-answers__answer">
              QQ 12 34 56 C
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Home address
            </dt>
            <dd class="app-check-your-answers__answer">
              72 Guild Street<br>
              London<br>
              SE23 6FH
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Alternative contact address
            </dt>
            <dd class="app-check-your-answers__answer">
              34 Guild Street<br>
              London<br>
              SE23 6FH
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> contact address</span>
              </a>
            </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Mobile phone number
            </dt>
            <dd class="app-check-your-answers__answer">
              07700 900457
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Claim start date
          </dt>
          <dd class="app-check-your-answers__answer">
            18 January 2019
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        </dl>

        <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- declaration -->


      </div>
    </div>

          </main>


</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
