
{% extends "layout.html" %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Apply for 'new style' Employment and Support Allowance (ESA)</h1>
    <p>You're eligible to apply if you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>need money because you're off work with an illness, injury or disability</li>
      <li>have paid National Insurance in the last 2 tax years</li>
      <li>do not get Statutory Sick Pay or it's due to end in the next 3 months</li>
    </ul>
    <p>If you're not sure whether you've paid enough National Insurance, you can <a href="https://www.gov.uk/check-national-insurance-record">check your National Insurance record online</a>. You'll need to sign in to, or set up, a Government Gateway account.</p>
    <p>You'll need a bank or building society account to apply online. You can also use a trusted family member or friend's account.</p>
    <p>Find out <a href="https://www.citizensadvice.org.uk/debt-and-money/banking/getting-a-bank-account/">how to get a bank account</a> if you do not have one.</p>


    <h3 class="govuk-heading-m">What to expect</h3>
    <p>The online form is the first stage of your application.</p>
    <div class="govuk-inset-text">
    You'll also need to go to an appointment to prove your identity and agree what you'll do in return for getting Employment and Support Allowance.</p>
    </div>
    <p>You might also need to go to a Work Capability Assessment.</p>

    <h3 class="govuk-heading-m">Before you start</h3>
    <p>Make sure you have your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance number</li>
      <li>doctor's surgery name and address</li>
      <li>bank or building society account details</li>
    </ul>
    <p>You'll also need details of:
    <ul class="govuk-list govuk-list--bullet">
      <li>current or recent work</li>
      <li>the date any Statutory Sick Pay ended or will end
      <li>pensions that you're getting, including proof of any inherited pensions</li>
      <li>permanent health insurance or income protection payments</li>
    </ul>
    <a href="condition" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-6 govuk-!-margin-bottom-8">Start now</a>

</div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
