{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="name">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Are you in education, training or an apprenticeship?
          </h1>
        </legend>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>

      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- name -->

    </form>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}
