{% extends "layout.html" %}

{% block content %}

<div class="govuk-breadcrumbs govuk-!-margin-bottom-9" style="margin-top:-20px">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      <a class="govuk-breadcrumbs__link" href="">Carers and disability benefits</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">Apply for a special kind of Employment Support Allowance that you can only get if you've paid enough National Insurance over the last couple of years</h2>

    <p class="govuk-body-s govuk-!-margin-bottom-1">Contents</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--bullet-dash">
      <li><a href="govuk-overview">Overview</a></li>
      <li><a href="govuk-whatyouget">What you'll get</a></li>
      <li>Eligibility</li>
      <li><a href="govuk-apply">Apply</a></li>
    </ul>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">
    &nbsp;
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--visible">

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">

    {#
      I've stuck the right col in a
      separate file just becaue it doesn't
      change across all these pages.
    #}
    {% include path+"/inc_govuk_rightcol.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
