{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="whenfit">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Do you want your claim to start from a future date?
        </h1>
      </legend>

      <p class="govuk-hint">You can claim one month before the date your employer pays you to.</p>

      <div class="govuk-form-group">

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>

      </div>

      <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- whenfit -->

    </form>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}
