// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";
@import "components/autocomplete";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.js-enabled select[data-source] {
  display: none;
}

.govuk-radios__conditional {
  border-left-width:5px;
  padding-bottom:10px;
}

.govuk-list--bullet-dash {
  padding-left:25px;
  list-style-type: none;
  font-size:16px;
  li:before {
    content: "— ";
    margin-left: -25px;
    padding-right: 5px;
  }
}

.govuk-pagnav {
  display:block;
  &:hover {
    background:#f8f8f8;
    font-weight: 700;
    text-transform: none;
    font-size: 19px;
    line-height: 1.25;
    margin-left: 10px;;

  }
}

.govuk-short-input {
    clear: left;
    float: left;
}

.govuk-short-input .govuk-form-group {
    clear: none;
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
    width: 50px;
}

.list-item-wrapper-vertical {
    padding-left: 20px;
    padding-right: 20px;

    input {
      width: 80%;

      @media (max-width: 640px) {
        width: 100%;
      }
    }

    .remove-list-item-vertical {
      margin-top: 4.4em;
      display: block;
    }

    .heading-medium {
      margin-top: 0;
    }
  }

.button-add-another-vertical {
    background-color: #eee;
    color: #000;
    box-shadow: 0 2px 0 #666;

    &:hover {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    &:focus {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    @media (max-width: 640px) {
      width: 100%;
      margin: auto;
      display: block;
    }
  }

  .c-form-input-denote {
    position: absolute;
    background-color: #dee0e2;
    line-height: 1;
    margin: 2px 0px 0px 2px;
    padding: 7px 12px;
    z-index: 0;
}

.govuk-currency-input__inner__unit {
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-weight: bold;
}
