{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="claimdate">

      <fieldset class="govuk-fieldset govuk-!-margin-top-6">
    
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Your bank details
            </h1>
          </legend>
    
          <p>This is the account your Employment Suport Allowance will be paid into</p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-account-holder">
              Name of account holder
            </label>
            <input class="govuk-input govuk-input--width-20" id="pay-account-holder" name="pay-account-holder" type="text">
          </div>


          <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-!-margin-bottom-1">Sort code</legend>

              <div class="govuk-form-group govuk-short-input">
                  <div class="govuk-form-group">
                      <label class="govuk-label govuk-visually-hidden" for="sort-1">Sort code part 1</label>
                      <input value="" class="govuk-input govuk-input--width-2" id="sort-1" name="pay-account-sort-1" type="number" maxlength="2">
                  </div>
                  <div class="govuk-form-group">
                      <label class="govuk-label govuk-visually-hidden" for="sort-2">Sort code part 2</label>
                      <input value="" class="govuk-input govuk-input--width-2" id="sort-2" name="pay-account-sort-2" type="number" maxlength="2">
                  </div>
                  <div class="govuk-form-group">
                      <label class="govuk-label govuk-visually-hidden" for="sort-3">Sort code part 3</label>
                      <input value="" class="govuk-input govuk-input--width-2" id="sort-3" name="pay-account-sort-3" type="number" maxlength="2">
                  </div>
              </div>
          </fieldset>

          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-account-number">
              Account number
            </label>
            <input class="govuk-input govuk-input--width-20" id="pay-account-number" name="pay-account-number" type="number" maxlength="18">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="pay-reference-number">
              Building society roll or reference number (optional)
            </label>         
            <span id="pay-reference-number-hint" class="govuk-hint">
              If your building society uses a roll or reference number, you will find it on your passbook.
            </span>
            <input class="govuk-input govuk-input--width-20" id="pay-reference-number" name="pay-reference-number" type="number" aria-describedby="pay-reference-number-hint" maxlength="18">
          </div>

        </fieldset>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- backdate -->

    </form>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}
