{% extends "layout.html" %}

{% block content %}

<div class="govuk-breadcrumbs govuk-!-margin-bottom-9" style="margin-top:-20px">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      <a class="govuk-breadcrumbs__link" href="">Carers and disability benefits</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Apply for money if you’re ill or disabled and can’t work, or you need help with daily living or getting around</h1>

    <p class="govuk-body-s govuk-!-margin-bottom-1">Contents</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--bullet-dash">
      <li><a href="govuk-overview">Overview</a></li>
      <li><a href="govuk-whatyouget">What you'll get</a></li>
      <li><a href="govuk-eligibility">Eligibility</a></li>
      <li>Apply</li>
    </ul>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">
    &nbsp;
  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">

    <h2 class="govuk-heading-l govuk-!-padding-top-3">Apply</h2>
    <p class="govuk-body"><a href="#" class="govuk-link">Check you're eligible</a> before you apply.</p>
    <div class="govuk-inset-text">
      There's a different way to <a href="#" class="govuk-link">apply in Northern Ireland</a>
    </div>

    <p><a href="/{{path}}/condition" class="govuk-button">Start application</a></p>

    <h3 class="govuk-heading-l govuk-!-padding-top-3">Other ways to apply</h3>

    <h5 class="govuk-heading-l govuk-!-padding-top-3">If you disagree with a decision</h5>
    <p class="govuk-body">You can <a href="#" class="govuk-link">challenge a decision</a> about your claim. This is called asking for ‘mandatory reconsideration’.</p>

    <a class="govuk-pagnav" href="govuk-eligibility">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      Previous
    </a>

  </div><!-- govuk-grid-column-two-thirds -->
  <div class="govuk-grid-column-one-third">

    {#
      I've stuck the right col in a
      separate file just becaue it doesn't
      change across all these pages.
    #}
    {% include path+"/inc_govuk_rightcol.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
