{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
        Apply for New Style Employment and Support Allowance using your Universal Credit account</h1>
  </legend>

  <p>*NEED CONTENT* <a href="">Sign in to your Universal Credit account</a> and add a note to your journal asking to apply for New Style Employment and Support Allowance.</p>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
