{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-xl" style="display:none">
          Content needed
    </span> -->


    <h1 class="govuk-heading-xl">
    Call the helpline if coronavirus is the main reason for your claim</h1>

    <p>Call the Universal Credit helpline to apply for New Style ESA if you're self-isolating because of coronavirus.</p>

    <h2 class="govuk-heading-m">Universal Credit helpline</h2>

    	<p class="govuk-body">
	Telephone: 0800 328 5644 (choose option 2)<br>
	Textphone: 0800 328 1344 (choose option 2)
	</p>
	<p class="govuk-body">
	<a href="https://www.ngts.org.uk/" class="govuk-link">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 328 5644
	</p>
	<p class="govuk-body">
	<a href="https://dwpesaclaim.signvideo.net/" class="govuk-link">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users. <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY" class="govuk-link">Check you can use the service</a>.<br>
	</p> 
	<p class="govuk-body">Welsh language telephone: 0800 328 1744</p>
	<p class="govuk-body">Monday to Friday, 9.30am to 3.30pm</p>
	<p class="govuk-body">
	<a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
</p>


  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
