{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-xl" style="display:none">
          Content needed
    </span> -->


    <h1 class="govuk-heading-xl">
    Call the helpline if coronavirus is the main reason for your claim</h1>

    <p>Call the Universal Credit helpline to apply for New Style Employment and Support Allowance if you're self-isolating because of coronavirus.</p>

    <h2 class="govuk-heading-m">Universal Credit helpline</h2>

    <p>Telephone: 0800 328 5644 (choose option 2)</p>
    <p>Textphone: 0800 328 1344 (choose option 2)</p>

    <p><a href="https://www.ngts.org.uk/">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 328 5644</p>
    <p><a href="https://dwpesaclaim.signvideo.net/">Video relay service</a> for British Sign Language (BSL) users. <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Check you can use the service</a>.</p>
    <p>Welsh language telephone: 0800 328 1744</p>
    <p>Monday to Friday, 8am to 6pm</p>
    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a>.</p>


  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
