{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
        Based on your answers, you may not be eligible for New Style Employment and Support Allowance</h1>
  </legend>

  <p>You may be able to claim conribution based or income related Employment and Support Allowance, call 0800 169 0350 and choose option 1.</p>

  <h2 class="govuk-fieldset__legend--m">Do you still want to apply?</h2>
  <p>You can continue to apply for New Style Employment and Support Allowance if you still think you’re eligible for it.</p>
  <p><a href="../../MVP/name.html">Continue to apply</a></p>
  </div>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
