{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      You can apply for New Style ESA</h1>
  </legend>

  <p>Based on your answers, you may be eligible to apply for New Style ESA.</p>

  <p>If you've been told you might not be eligible to apply, but want to do so anyway, you can also continue with the application.</p>

  <p><a href="../MVP/name" class="govuk-button">Continue</a></p>

  </div>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
