{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Based on your answers, you're not eligible for New Style ESA</h1>
  </legend>

  <p>Call Jobcentre Plus to find out what benefits you're eligible for.</p>

  <h3 class="govuk-heading-m">Jobcentre Plus</h3>
  
  <p class="govuk-body">
    Telephone: 0800 169 0350<br>
    Textphone: 0800 023 4888 
</p>

<p class="govuk-body">
    <a href="https://www.ngts.org.uk/" class="govuk-link">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 169 0350
</p>

<p class="govuk-body">
    <a href="https://dwpesaclaim.signvideo.net/" class="govuk-link">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users. <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY" class="govuk-link">Check you can use the service</a>.<br>
</p>    

<p class="govuk-body">Welsh language telephone: 0800 012 1888</p>

<p class="govuk-body">
    <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>
</p>

  </div>


    </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
