{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply for ‘new style’ Employment Support Allowance
      </h1>

      <p>Fill in the sections below to apply.</p>

      <ol class="app-task-list">
        <li>
          <ul class="app-task-list__items" style="padding: 0">
            <li class="app-task-list__item">
              {% if getData.yourhealth === "completed" %}
                <a class="app-task-list__task-name app-task-list__section" href="health/checkanswers" aria-describedby="#">Your health</a>
                <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
              {% elif getData.yourhealth === "started" %}
                <a class="app-task-list__task-name app-task-list__section" href="health/condition" aria-describedby="#">Your health</a>
                <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
              {% else %}
                <a class="app-task-list__task-name app-task-list__section" href="health/condition" aria-describedby="#">
                  Your health
                </a>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if getData.paidwork === "completed" %}
                <a class="app-task-list__task-name app-task-list__section" href="work/checkanswers-2" aria-describedby="#">Paid work</a>
                <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
              {% elif getData.paidwork === "started" %}
                <a class="app-task-list__task-name app-task-list__section" href="work/work" aria-describedby="#">Paid work</a>
                <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
              {% else %}
                <a class="app-task-list__task-name app-task-list__section" href="work/work" aria-describedby="#">
                  Paid work
                </a>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if getData.ssp === "completed" %}
                <a class="app-task-list__task-name app-task-list__section" href="ssp/checkanswers-2" aria-describedby="#">Statutory pay</a>
                <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
              {% elif getData.ssp === "started" %}
                <a class="app-task-list__task-name app-task-list__section" href="ssp/statutory-pay" aria-describedby="#">Statutory pay</a>
                <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
              {% else %}
                <a class="app-task-list__task-name app-task-list__section" href="ssp/statutory-pay" aria-describedby="#">
                  Statutory pay
                </a>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if getData.voluntarywork === "completed" %}
                <a class="app-task-list__task-name app-task-list__section" href="volunteering/checkanswers-2" aria-describedby="#">Voluntary work</a>
                <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
              {% elif getData.voluntarywork === "started" %}
                <a class="app-task-list__task-name app-task-list__section" href="volunteering/voluntary-work" aria-describedby="#">Voluntary work</a>
                <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
              {% else %}
                <a class="app-task-list__task-name app-task-list__section" href="volunteering/voluntary-work" aria-describedby="#">
                  Voluntary work
                </a>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if getData.pension === "completed" %}
                <a class="app-task-list__task-name app-task-list__section" href="pension/checkanswers-2" aria-describedby="#">Pensions</a>
                <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
              {% elif getData.pension === "started" %}
                <a class="app-task-list__task-name app-task-list__section" href="pension/pension" aria-describedby="#">Pensions</a>
                <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
              {% else %}
                <a class="app-task-list__task-name app-task-list__section" href="pension/pension" aria-describedby="#">
                  Pensions
                </a>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if getData.insurance === "completed" %}
                <a class="app-task-list__task-name app-task-list__section" href="insurance/checkanswers-2" aria-describedby="#">Income protection insurance</a>
                <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong>
              {% elif getData.insurance === "started" %}
                <a class="app-task-list__task-name app-task-list__section" href="insurance/insurance" aria-describedby="#">Income protection insurance</a>
                <strong class="govuk-tag tag-started app-task-list__task-completed" id="#">Started</strong>
              {% else %}
                <a class="app-task-list__task-name app-task-list__section" href="insurance/insurance" aria-describedby="#">
                  Income protection insurance
                </a>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              <a class="app-task-list__task-name app-task-list__section" href="about-you/name" aria-describedby="#">
                Your details
              </a>
{#               <strong class="govuk-tag app-task-list__task-completed" id="#">Completed</strong> #}
            </li>
{#             <li class="app-task-list__item">
              <a class="app-task-list__task-name app-task-list__section" href="#" aria-describedby="#">
                Final steps
              </a>
            </li> #}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name app-task-list__section" href="#" aria-describedby="#">
                <span style="opacity: 0.6">Claim date and declaration <span style="font-weight: normal">(do this last)</span></span>
              </span>
            </li>
          </ul>
        </li>
      </ol>

      <p><a href="cancel-application">Cancel application</a></p>

    </div>
  </div>

{% endblock %}