{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers: paid work</h1>

    <dl class="app-check-your-answers app-check-your-answers--short">
     <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Currently employed
        </dt>
        <dd class="app-check-your-answers__answer">
          No
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="work">
            Change
          </a>
        </dd>
      </div>
    </dl>
      
    <a href="../list?paidwork=completed" class="govuk-button">Confirm and continue</a>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
