{% extends "layout_master.html" %}

{% block pageTitle %}
  Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="../../index.html" rel="prev" class="govuk-back-link">Index page</a>
</div>

{# <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Prototypes</h1>
  </div>
</div> #}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Version 12</h2>

    <p>Created: 16 April 2020 (work in progress).</p>

    <p>This is the first version from the Newcastle team. </p>

    <h3 class="govuk-heading-s">Current journey</h3>

    <p><a href="private-beta.html">Private beta journey</a></p>



    <h3 class="govuk-heading-s">Changes</h3>

    <p><a href="add-another-condition/condition.html">Add another condition</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    
{% endblock %}
