{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 

    <form id="form" method="post" action="insurance-payment-3">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Did you pay more than half of the premiums for this {{ data['insurance-provider-2'] | split(',') | last }} yourself?
          </h1>
        </legend>

        <div class="govuk-radios" data-module="radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="insurance-paid-1" name="insurance-paid" type="radio" value="yes" data-aria-controls="yes">
            <label class="govuk-label govuk-radios__label" for="insurance-paid-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="insurance-paid-2" name="insurance-paid" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="insurance-paid-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- insurance-payment-1-->

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}

