{% extends "layout_master.html" %}

{% block pageTitle %}
  Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="../../index.html" rel="prev" class="govuk-back-link">Index page</a>
</div>

{# <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Prototypes</h1>
  </div>
</div> #}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Version 11</h2>

    <p>Created: 6 March 2020 (work in progress).</p>

    <p>This is the first version from the Newcastle team. </p>

    <h3 class="govuk-heading-s">Private beta</h3>

    <p><a href="private-beta.html">Private beta journey</a></p>

    <p><a href="private-beta-email.html.html">Private beta email</a></p>


    <h3 class="govuk-heading-s">Eligibility</h3>

    <p><a href="eligibility/start-page-steps.html">Eligibility journey</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-s">Secure access to the private beta service</h3>

    <p class="govuk-body">Currently, the link is:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>shared with users who agree to private beta over the phone</li>
        <li>shared by email</li>
        <li>generic and can be accessed by anyone</li>
    </ul>

    <p class="govuk-body">We are exploring ideas including:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="private-beta">tempoary screen to explain private beta</a></li>
        <li>token-ised link</li>
        <li>whitelisting</li>
        <li>invitation codes</li>
    </ul>




    

{% endblock %}
