{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<p class="red">Content updates to make</p>
<ul class="govuk-list govuk-list--bullet red">
  <li>Move before you save up and rewording so it’s less scary</li>
  <li>Move bit about getting a bank account out or down</li>
</ul>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You can only use this service if you have been invited</h1>

    <p class="govuk-body">If you have not been invited, call 0800 328 5644 to apply for New Style Employment and Support Allowance.</p>
    

    <!-- <p>If you want to apply for Call 0800 328 5644 if you want to apply for New Style Employment and Support Allowance.</p> -->

    <p><a href="MVP/start-page-steps" class="govuk-button">Continue</a></p>

  </div>

</div>
{% endblock %}