{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl govuk-!-margin-top-9">Apply for 'new style' Employment and Support Allowance (ESA)</h1>
      
      <p>Use this service if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you need financial help because you are off work as a result of an illness, injury or disability, and</li>
        <li>have paid National Insurance for 2 years</li>
      </ul>

      <h2 class="govuk-heading-m">What to expect</h2>
      <p>This form is the first stage of your application. You will also need to go to an appointment to prove your identity and agree your responsibilities.</p>
      <p>You might also need to go to an assessment.</p>

      <h3 class="govuk-heading-m">Before you start:</h3>
      <p>Make sure you have your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>National Insurance number</li>
        <li>bank or building society details</li>
        <li>GP surgery name and address</li>
      </ul>
      <p>You'll also need details of any:
      <ul class="govuk-list govuk-list--bullet">
        <li>current or recent work</li>
        <li>pensions scheme's that you are currently paid from</li>
        <li>permanent health insurance or income protection payments</li>
      </ul>

      <a href="condition" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}
