{% extends "layout.html" %}

{% block beforeContent %}
  <a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Screens to support development stories</h1>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="blue-border">
      <h2 class="govuk-heading-l">
        <span class="app-step-nav-related__pretitle">MVP</span>
      </h2>
      <p style="margin-bottom: 0">
        <a href="/apply/MVP/start-page-steps" class="govuk-button">View latest MVP</a>
      </p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 0">
        <li><a href="/public/images/mvp-changes.png">See what’s changed</a></li>
        <li><a href="/public/pdfs/Newstyle_ESA_MVP-13-06-2019.pdf">MVP screen flow diagram</a></li>
      </ul>
    </div>

    <br>

    <h2 class="govuk-heading-l">Iteration 1</h2>

    <p>Permenant Health Insurance question flow</p>
    <a href="/apply/insurance/insurance-start" class="govuk-button">View Permenant Health Insurance</a>

   <!-- <p>Consent to share assessment outcome</p>
    <a href="/apply/consent-outcomet" class="govuk-button">View consent outcome screen</a> -->

    <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 0">
      <li><a href="/public/images/#" style="color: red">New question screens to add here</a></li>
      <li><a href="/public/pdfs/Newstyle_ESA_MVP-19-06-2019.pdf">New MVP screen flow diagram</a></li>
    </ul>

  </div> <!-- govuk-grid-column-two-thirds -->

</div> <!-- govuk-grid-column-one-third -->


</div> <!-- grid-row-->

{% endblock %}