
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        New style ESA application
        <span class="govuk-caption-xl">v0.8</span>
      </h1>
  </div>


      <h2 class="govuk-heading-s">Created: 10 Jan 2019</h2>
      <p>Research showed:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Users still don&rsquo;t understand that they have to do something once they submit</li>
        <li>Self-employed users struggled with the 'Are you employed?' question if they aren&rsquo;t in a contract at the moment</li>
        <li>The claim date is still difficult to figure out, although the hint text did help</li>
        <li>There is some jargon in the service that we need to describe - particularly fit note, SSP1, and claimant commitment
        <li>Permanent health insurance isn&rsquo;t fully understood</li>
      </ul>
      <p>Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Information about the appointment is now inset on the start page to draw users&rsquo; eyes to it</li>
        <li>Next steps on the confirmation page arranged as a numbered list</li>
        <li>'Add another condition' button added to the conditions screen - users can add up to 12 health conditions</li>
        <li>Full list of possible health conditions added to the autocomplete on the conditions screen</li>
        <li>Added a 'when it started' field to the conditions page as staff need it to understand the severity of the condition or if something has changed</li>
        <li>Users whose sick pay ended a while ago are now asked 'When did your sick pay end?'</li>
        <li>More hint text added to the claim date screen to start with - other ideas for how we might address this need below</li>
        <li>Any jargon removed or described</li>
        <li>New pension screens added to the question set - business requirement to ask gross and net amounts as well as deductions</li>
        <li>Future hospital stays removed, and previous stays added - requested by Policy</li>
        <li>Added &lsquo;Are you expecting to go back to work?&rsquo; question</li>
        <li>Permanent Helath Insurnace question flow changed so that the user shouldn&rsquo;t have to answer all the quesitons if they pay more than half the premiums</li>
        <li>Removing Consent screen as per Legal recommendation, update to Decalration screen to include content about making contact to collect further information to suuport an application</li>
        <li>Referring to ‘regular payments’ when asking about pensions</li>
        <li>Re-ordered payment frequency options (pensions, insurance)</li>
        <li>Removed previous hospital stays question – we are only interested if they’re in hospital now</li>
      </ul>


      <p><a href="/apply/v8/start-page-steps" class="govuk-button">Open prototoype</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Other links</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/apply/MVP/start-page-steps">MVP v1.0</a></li>
        <!-- <li>Staff UI</li> -->
       </ul>

       <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous prototype versions
          </span>
        </summary>
        <div class="govuk-details__text">

          <span class="govuk-caption-x">v0.7</span>
            </h1>
            <h2 class="govuk-heading-s">Created: 07 Dec 2018</h2>
            <p>Research showed that users:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>didn&rsquo;t understand the application process</li>
            <li>were confused by work screens as they didn&rsquo;t cover the various ways people work</li>
            <li>were anxious about giving fraudulent information, particularly dates</li>
          </ul>
            <p>Significant changes:<p>
              <ul class="govuk-list govuk-list--bullet">
              <li>GOV.UK pages and step by step navigation mocked up so we can see if the new step by step guide helps users understand the process</li>
              <li>Start page slotted into GOV.UK pages to test route through to it</li>
              <li>Check answers screen with dummy data entered to see if it helps with anxiety over fraud</li>
              <li>Users can add multiple jobs</li>
              <li>Company names carried through work and voluntary questions to reduce cognitive effort</li>
            </ul>
            <p>Smaller changes:<p>
              <ul class="govuk-list govuk-list--bullet">
              <li>Voluntary work questions moved to the start of the flow to reduce ambiguity between paid and voluntary work</li>
              <li>Statutory sick pay questions amended to focus more on sick pay and whether its ended
              <li>Users asked for a date range rather than a date on the fit for work question to ease uncertainty</li>
              <li>Additional options for pay frequency added (annually, quarterly, and every 6 months) to match JSAPS</li>
              <li>New question added - Did you inherit your pension from [pension provider]?</li>
            </ul>
            <h2 class="govuk-heading-s">Prototype notes</h2>
            <p><a href="../../public/pdfs/version-notes/notes-v7.pdf">Version notes</a></p>
            <p>
              <a href="/apply/v7/start-page-steps" class="govuk-button">Open prototoype</a>
            </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <span class="govuk-caption-x">v0.6</span>
              </h1>
              <h2 class="govuk-heading-s">Created: 21 Nov 2018</h2>
              <p>Research showed:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>users don&rsquo;t understand that the application form is the first part of the process</li>
                <li>some users found the Pension screens better to work through</li>
                <li>users found the claim date hard to work out</li>
                <li>having better content on the Start page did set expectations, but users needed to be prompted to read it</li>
              </ul>
              <p>Significant changes:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Creating a flow of questions for capturing Pension payments, enabling users to add multiple providers</li>
              </ul>
              <p>Smaller changes:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Updating content on the Start screen, improving the messaging to set better expectations for users</li>
                <li>Content change to Condition question, adding 'injuries' to 'conditions' and 'illnesses'</li>
                <li>Content changes to the Done screen, re-iterating that the application form is the first part of the claim process</li>
              </ul>
              <h2 class="govuk-heading-s">Prototype notes</h2>
              <p><a href="../../public/pdfs/version-notes/notes-v6.pdf">Version notes</a></p>
              <p>
                <a href="/apply/v6/start" class="govuk-button">Open prototoype</a>
              </p>

              <h2 class="govuk-heading-m">
                New style ESA application
                <span class="govuk-caption-x">v0.5</span>
              </h2>
              <h2 class="govuk-heading-s">Created: 1 Nov 2018</h2>
              <h2 class="govuk-heading-s">User research: 14 Nov 2018</h2>
              <p>Changed flow and added screens for work information</p>
              <p>Changes made to the following screens:</p>
              <ul class="govuk-list--bullet">
                <li>Start</li>
                <li>Paid work</li>
                <li>Are you working at the moment</li>
                <li>When did your job start</li>
                <li>Self-employed</li>
                <li>Company director</li>
                <li>Employer details</li>
                <li>How often are you paid</li>
                <li>Expenses</li>
                <li>Expenses detail</li>
                <li>Voluntary work</li>
                <li>Pension</li>
                <li>Consent</li>
                <li>Mobile number</li>
                <li>Done - What happens next</li>
              </ul>

              <h2 class="govuk-heading-s">Prototype notes</h2>
              <p><a href="../../public/pdfs/version-notes/notes-v5.pdf">Version notes</a></p>
              <p>
                <a href="/apply/v5/start" class="govuk-button">Open prototoype</a>
              </p>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-m">
                New style ESA application
                <span class="govuk-caption-x">v0.4</span>
              </h2>
              <h2 class="govuk-heading-s">Created: 23 Oct 2018</h2>
              <p>Updated based on findings from stakeholder workshop on 17 Oct 2018</p>
              <p>Changes made to the following screens:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Start</li>
                <li>Pregnant</li>
                <li>GP Surgery</li>
                <li>Special Rules</li>
                <li>Hospital</li>
                <li>Pay</li>
                <li>Hours worked</li>
                <li>Payments from employer</li>
                <li>Voluntary work</li>
                <li>Last day worked</li>
                <li>Pension details</li>
                <li>Consent</li>
                <li>Name</li>
                <li>Address</li>
                <li>Telpehone</li>
                <li>Email</li>
                <li>Bank details</li>
                <li>Fit again</li>
              </ul>
              <h2 class="govuk-heading-s">Prototype notes</h2>
              <p><a href="../../public/pdfs/version-notes/notes-v4.pdf">Version notes</a></p>
              <p>
                <a href="/apply/v4/start" class="govuk-button">Open prototoype</a>
              </p>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-m">
                New style ESA application
                <span class="govuk-caption-x">v0.3</span>
              </h2>
              <h2 class="govuk-heading-s">Created: 17 Oct 2018</h2>
              <p>Added and changed questions based on information received from policy colleagues: </p>
              <p>Changes made to the folowing screens:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Terminally ill</li>
                <li>Terminally ill prognosis</li>
                <li>Pregnant</li>
                <li>Hospital</li>
                <li>Hospital previous</li>
                <li>Employment</li>
                <li>Employer payments</li>
                <li>Statutory pay</li>
                <li>Pension details</li>
                <li>Health insurance</li>
                <li>Address contact</li>
                <li>Contact preferences</li>
              </ul>
              <h2 class="govuk-heading-s">Prototype notes</h2>
              <p><a href="../../public/pdfs/version-notes/notes-v3.pdf">Version notes</a></p>
              <p>
                <a href="/apply/v3/govuk-overview" class="govuk-button">Open prototoype</a>
              </p>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-m">
                New style ESA application
                <span class="govuk-caption-x">v0.2</span>
              </h2>
              <h2 class="govuk-heading-s">Created: 20 Sept 2018</h2>
              <h2 class="govuk-heading-s">User research: 26 Sept 2018</h2>
              <p>Updated to incorporate insights from UR session on 26 Sept which tested a joint Apply for ESA/PIP prototype.</p>
              <p>Changes made to the following screen:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Terminally ill</li>
              </ul>
              <h2 class="govuk-heading-s">Prototype notes</h2>
              <p><a href="../../public/pdfs/version-notes/notes-v2.pdf">Version notes</a></p>
              <p><a href="/apply/v2/govuk-overview" class="govuk-button">Open prototoype</a></p>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-m">
                New style ESA application
                <span class="govuk-caption-x">v0.1</span>
              </h2>
              <h2 class="govuk-heading-s">Created: 21 Aug 2018</h2>
              <p>First iteration of citizen journey applying for New Style ESA (contribution-based)</p>
              <h2 class="govuk-heading-s">Prototype notes</h2>

              <p><a href="../../public/pdfs/version-notes/notes-v1.pdf">Version notes</a></p>
              <p><a href="/apply/v1/govuk-overview" class="govuk-button">Open prototoype</a></p>

          </div> <!--  govuk-details-text -->

      </details>


  </div> <!-- column-full -->

</div> <!-- grid-row-->

{% endblock %}
