{% extends "layout_master.html" %}

{% block pageTitle %}
  Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="../../index.html" rel="prev" class="govuk-back-link">Index page</a>
</div>

{# <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Prototypes</h1>
  </div>
</div> #}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Version 12</h2>

    <p>Created: 16 April 2020 (work in progress)</p>

    <h3 class="govuk-heading-s">Current journey</h3>

    <p class="govuk-body">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>add another condition is now using the loop pattern (like add another job), this makes the design consistent and removes the Javascript issue</li> 
    </ul>

    <p><a href="apply/v12/eligibility-start.html">Current journey</a></p>

    <p><a href="apply/v12/feedback.html">Feedback</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Version 11</h2>

    <p>Created: 6 March 2020</p>

    <p>This is the first version from the Newcastle team. </p>

    <h3 class="govuk-heading-s">Private beta</h3>

    <p class="govuk-body">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>added a screen to say only use service if asked</li>
        <li>ask user if coronavirus is main reason for claim and date affected from</li>
        <li>removed reference to providing evidence and attending appointments</li>
        <li>removed questions asking for additional information about pension and health insurance</li>
        <li>changed bank details heading to match design system pattern</li>
        <li>moved question below content on 'Sharing information about your health condition' page to make it accessible</li>
    </ul>

    <p><a href="apply/v11/private-beta.html">Private beta journey</a></p>

    <h3 class="govuk-heading-s">Eligibility</h3>

    <p><a href="apply/v11/eligibility/eligibility-start.html">Eligibility journey</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    




    

{% endblock %}
