
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        New style ESA application
        <span class="govuk-caption-xl">v0.5</span>
      </h1>
      <p>Changed flow and added screens for work information.</p>
      <p>
        <a href="/apply/v5/start" class="govuk-button">Open prototoype</a>
      </p>
      
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-m">
        New style ESA application
        <span class="govuk-caption-x">v0.4</span>
      </h2>
      <p>Update to prototype adding requirments from Policy workshop 17/10/18</p>
      <p>
        <a href="/apply/v4/start" class="govuk-button">Open prototoype</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        New style ESA application
        <span class="govuk-caption-x">v0.3</span>
      </h2>
      <p>Update to prototype adding ESA1 question set from Policy review</p>
      <p>Changes made to folowing screens;</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Terminally ill</li>
        <li>Terminally ill prognosis</li>
        <li>Pregnant</li>
        <li>Hospital</li>
        <li>Hospital previous</li>
        <li>Employment</li>
        <li>Employer payments</li>
        <li>Statutory pay</li>
        <li>Pension details</li>
        <li>Health insurance</li>
        <li>Address contact</li>
        <li>Contect preferences</li>
      </ul>
      <h2 class="govuk-heading-s">Prototype notes</h2>
      <p><a href="../../public/pdfs/version-notes/notes-v3.pdf">Version notes</a></p>
      <p>
        <a href="/apply/v3/govuk-overview" class="govuk-button">Open prototoype</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        New style ESA application
        <span class="govuk-caption-x">v0.2</span>
      </h2>
      <p>Update to the questions incorporating insights from UR session 26/09/18</p>
      <p>Changes made to the following screen;</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Terminally Ill</li>
      </ul>
      <h2 class="govuk-heading-s">Prototype notes</h2>
      <p><a href="../../public/pdfs/version-notes/notes-v2.pdf">Version notes</a></p>
      <p><a href="/apply/v2/govuk-overview" class="govuk-button">Open prototoype</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        New style ESA application
        <span class="govuk-caption-x">v0.1</span>
      </h2>
      <p>First iteration of citizen journey applying for New Style ESA (Contribution based)</p>
      <h2 class="govuk-heading-s">Prototype notes</h2>

      <p><a href="../../public/pdfs/version-notes/notes-v1.pdf">Version notes</a></p>
      <p><a href="/apply/v1/govuk-overview" class="govuk-button">Open prototoype</a></p>
   

    </div> <!-- coloumn-two-thrirds -->
    <div class="govuk-grid-column-one-third">
      
    </div> <!-- column-one-third -->

  </div> <!-- grid-row-->

{% endblock %}
