
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        New style ESA application
        <span class="govuk-caption-xl">v0.5</span>
      </h1>
      <h2 class="govuk-heading-s">Created: 1 Nov 2018</h2>
      <p>Changed flow and added screens for work information.</p>
      <p>
        <a href="/apply/v5/start" class="govuk-button">Open prototoype</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        New style ESA application
        <span class="govuk-caption-x">v0.4</span>
      </h2>
      <h2 class="govuk-heading-s">Created: 23 Oct 2018</h2>
      <p>Updated based on findings from stakeholder workshop on 17 Oct 2018</p>
      <p>Changes made to the following screens:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Start</li>
        <li>Pregnant</li>
        <li>GP Surgery</li>
        <li>Special Rules</li>
        <li>Hospital</li>
        <li>Pay</li>
        <li>EHours worked</li>
        <li>Payments from employer</li>
        <li>Voluntary work</li>
        <li>Last day worked</li>
        <li>Pension details</li>
        <li>Consent</li>
        <li>Name</li>
        <li>Address</li>
        <li>Telpehone</li>
        <li>Email</li>
        <li>Bank details</li>
        <li>Fit again</li>
      </ul>
      <h2 class="govuk-heading-s">Prototype notes</h2>
      <p><a href="../../public/pdfs/version-notes/notes-v4.pdf">Version notes</a></p>
      <p>
        <a href="/apply/v4/start" class="govuk-button">Open prototoype</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        New style ESA application
        <span class="govuk-caption-x">v0.3</span>
      </h2>
      <h2 class="govuk-heading-s">Created: 17 Oct 2018</h2>
      <p>Added and changed questions based on information received from policy colleagues: </p>
      <p>Changes made to the folowing screens:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Terminally ill</li>
        <li>Terminally ill prognosis</li>
        <li>Pregnant</li>
        <li>Hospital</li>
        <li>Hospital previous</li>
        <li>Employment</li>
        <li>Employer payments</li>
        <li>Statutory pay</li>
        <li>Pension details</li>
        <li>Health insurance</li>
        <li>Address contact</li>
        <li>Contact preferences</li>
      </ul>
      <h2 class="govuk-heading-s">Prototype notes</h2>
      <p><a href="../../public/pdfs/version-notes/notes-v3.pdf">Version notes</a></p>
      <p>
        <a href="/apply/v3/govuk-overview" class="govuk-button">Open prototoype</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        New style ESA application
        <span class="govuk-caption-x">v0.2</span>
      </h2>
      <h2 class="govuk-heading-s">Created: 20 Sept 2018</h2>
      <h2 class="govuk-heading-s">User research: 26 Sept 2018</h2>
      <p>Updated to incorporate insights from UR session on 26 Sept which tested a joint Apply for ESA/PIP prototype.</p>
      <p>Changes made to the following screen:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Terminally ill</li>
      </ul>
      <h2 class="govuk-heading-s">Prototype notes</h2>
      <p><a href="../../public/pdfs/version-notes/notes-v2.pdf">Version notes</a></p>
      <p><a href="/apply/v2/govuk-overview" class="govuk-button">Open prototoype</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        New style ESA application
        <span class="govuk-caption-x">v0.1</span>
      </h2>
      <h2 class="govuk-heading-s">Created: 21 Aug 2018</h2>
      <p>First iteration of citizen journey applying for New Style ESA (contribution-based)</p>
      <h2 class="govuk-heading-s">Prototype notes</h2>

      <p><a href="../../public/pdfs/version-notes/notes-v1.pdf">Version notes</a></p>
      <p><a href="/apply/v1/govuk-overview" class="govuk-button">Open prototoype</a></p>


    </div> <!-- coloumn-two-thrirds -->
    <div class="govuk-grid-column-one-third">

    </div> <!-- column-one-third -->

  </div> <!-- grid-row-->

{% endblock %}
