<div style="border-top: 2px solid #005ea5;">

  <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Part of<br><a href="https://www.gov.uk/how-to-claim-new-style-esa">How to claim 'new style' Employment and Support Allowance</a></h2>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Check you're eligible</h2></li>
  <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text govuk-!-font-size-16">
      Show
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Check what type of ESA you should apply for.</p>
    <p><a href="govuk-eligibility">Check if you're eligible</a></p>
    <p>You might also be eligible for Universal Credit.</p>
    <p><a href https://www.gov.uk/how-to-claim-universal-credit?step-by-step-nav=a661e652-204c-4abf-a2ce-9f183aca85b9">Find out about Universal Credit</a></p>
  </div>
</details>
</ol>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Start your claim and arrange your interview</h2>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Attend the interview with your work coach</h2>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Get your first payment</h2>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Give updates about your health and circumstances</h2>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Fill in and send the ESA50 form</h2>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Get a decision about how much money you'll get</h2>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Check if your payments will stop or if you'll be reassessed</h2>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-7">

  <h3 class="govuk-body-s govuk-!-margin-top-3 govuk-!-margin-bottom-2"> Explore the topic </h3>
  <ul class="govuk-list govuk-body-s">
    <li><a href="">Carers and disability benefits</a></li>
    <li><a href="">Jobseeker's Allowance and low income benefits</a></li>
    <li><a href="">Benefits and financial help</a></li>
  </ul>

</div>
