{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="statutory-pay-other">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Have you had any Statutory Sick Pay in the last 12 weeks?
          </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="statutory-pay-1" name="statutory-pay" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="statutory-pay-1">
             Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="statutory-pay-2" name="statutory-pay" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="statutory-pay-2">
            No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- pension -->

    </form>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}
