{% extends "layout.html" %}

{% block content %}

<div>
  <p class="govuk-!-font-size-19"><strong>Part of</strong></span>
  <span class="govuk-heading-m color:	#005ea5;">
    <a href="<a href="https://www.gov.uk/how-to-claim-new-style-esa">
    How to claim 'new style' Employment and Support Allowance: step by step
  </a>
</span>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Apply for 'new style' Employment and Support Allowance
    </h1>
    <p>Use this service if you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>need money because you're off work with an illness, injury or disability</li>
      <li>have paid National Insurance in the last 2 tax years</li>
    </ul>

    <h2 class="govuk-heading-m">What to expect</h2>
    <p>This is the first stage of your application.</p>
    <p>You'll also need an appointment to prove your identity and agree your responsibilities.</p>
    <p>You might also need to go to a Work Capability Assessment.</p>

    <h3 class="govuk-heading-m">Before you start</h3>
    <p>Make sure you have your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance number</li>
      <li>bank or building society details</li>
      <li>GP surgery name and address</li>
    </ul>
    <p>You'll also need details of any:
    <ul class="govuk-list govuk-list--bullet">
      <li>current or recent work</li>
      <li>pensions that you're getting</li>
      <li>permanent health insurance or income protection payments</li>
    </ul>

    <a href="condition" role="button" draggable="false" class="govuk-button govuk-button--start">
      Start now
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
            <aside class="app-related-items" role="complementary">
              <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Part of<br><a href="https://www.gov.uk/how-to-claim-new-style-esa">How to claim 'new style' Employment and Support Allowance: step by step</a></h2>
              <nav role="navigation" aria-labelledby="subsection-title">
      <div>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">
      Check you're eligible
    </h3>
    <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text govuk-!-font-size-16">
        Show
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>Check what type of ESA you should apply for.</p>
      <p><a href="govuk-eligibility">Check if you're eligible</a></p>
      <p>You might also be eligible for Universal Credit.</p>
      <p><a href https://www.gov.uk/how-to-claim-universal-credit?step-by-step-nav=a661e652-204c-4abf-a2ce-9f183aca85b9">Find out about Universal Credit</a></p>
    </div>
    </details>
    </ol>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Start your claim and arrange your interview</h3>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Attend the interview with your work coach</h3>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Get your first payment</h3>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Give updates about your health and circumstances</h3>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Fill in and send the ESA50 form</h3>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Get a decision about how much money you'll get</h3>
    <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text govuk-!-font-size-16">
        Show
      </span>
    </summary>
    <div class="govuk-details__text">
    <p>You'll get a letter with a decision. It will also tell you if you'll need to be assessed again.</p>
    <ul class="govuk-list">
    <li>
      <a a class="govuk-link" href="govuk-whatyouget">How much you can get</a>
    </li>
    <li>
      <a a class="govuk-link" href="https://www.gov.uk/mandatory-reconsideration?step-by-step-nav">Find out how to challenge the decision</a>
    </li>
    </ul>
    <p>To keep getting the right amount you'll need to report any change in your circumstances.</p>
    <a class="govuk-link" href=“govuk-changeofcircs”>Report a change of circumstances</a>
  </div>
  </details>
  <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-2">Check if your payments will stop or if you'll be reassessed</h3>
    <hr class="govuk-section-break govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h3 class="govuk-body-s govuk-!-margin-top-3 govuk-!-margin-bottom-2"> Explore the topic </h3>
    <ul class="govuk-list govuk-body-s">
      <li><a href="">Carers and disability benefits</a></li>
      <li><a href="">Jobseeker's Allowance and low income benefits</a></li>
      <li><a href="">Benefits and financial help</a></li>
    </ul>

    <div><!-- govuk-grid-column-two-thirds -->
  <div><!-- govuk-grid-row -->
  {% endblock %}



















  <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">


            <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/prototype-admin/clear-data">
                    Clear data
                  </a>
                </li>

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/docs/cookies">
                    Cookies
                  </a>
                </li>

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/docs/privacy-policy">
                    Privacy policy
                  </a>
                </li>

            </ul>



        <svg
          role="presentation"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license"
          >Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>





    <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/docs.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>



<script src="/public/javascripts/step-by-step-navigation.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
  stepByStepNavigation.start($element)
</script>



  </body>
</html>
